.foto-home {
    height: 200px;
    border-radius: 50%;
}
.saudacao p {
    color: #99A;
    line-height: 1;
    
    font-size: 1.5em;
    padding: 2em;
}
.saudacao-inicio {
    color: #889;
    font-size: 3em;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    color: #000;
}
.saudacao em {
    color: #851944;
    display: inline-block;
    transform: rotate(-5deg) skew(-10deg) ;
}
.botao-index {
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 40ch; /*400px*/
    display: block;
    text-align: center;
   
    font-size: 1.25em;
    margin: 2em auto;
    padding: .5em;
  
}
.secao-inicio h2 {
    text-transform: uppercase;    
    font-size: 3em;
    text-shadow: 2px 2px #000;
    margin-bottom: .5em;
}

.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;   
}

.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}

.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}

.blog {
    background-color: #999;    
    border-bottom: .5em solid #851944;    
    position: relative;
}

.blog h2{
    color: #FFF;
}

.blog li a {
    color: #FCF;
    
    padding: .5em;
    display: block;
}

footer {
    background-color: #000;
    color: #FFF;
    
   padding: 2em;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}

.subtitulo-principal{
    font-size: .35em;
}

footer h2{
    font-size: 3em;
}

.secao-inicio{
     padding: 2em;
}

.saudacao strong{
    font-size: 2em;
}

.saudacao em{
    font-size: 4em;   
}

.blog small{
    position: relative;
    top: -2em;   
}

.palavra-home{
    font-family: "shadows into light", cursive;
    font-size: 1.5rem;
    color: #D5447E;
    font-weight: bold;    
    position: absolute;
}

.palavras-home li{
    font-size: 400%;
}
 /**/
.eficiencia{   
    top: 50%;
    left: 60%;
     -webkit-transform: translate(-50%, -50%) rotate(-15deg) translateZ(4px) scale(0.25);     
    transform: translate(-50%, -50%) rotate(-15deg) translateZ(4px)  scale(0.25);      
}

.boas-praticas{   
    top: 30%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
}

.codigo-limpo{    
    top: 65%;
    left: 70%;    
    -webkit-transform: translate(-50%, -50%) rotate(-15deg) translateZ(3px) scale(0.25);
    transform: translate(-50%, -50%) rotate(-15deg) translateZ(3px) scale(0.25);    
}

.css3{   
    top: 75%;
    left: 70%;
    -webkit-transform: translate(-50%, -50%) rotate(10deg) translateZ(1px) scale(0.25);
    transform: translate(-50%, -50%) rotate(10deg) translateZ(1px)scale(0.25);    
}

.html5{    
    top: 45%;
    left: 60%;
   -webkit-transform: translate(-50%, -50%) rotate(-20deg) translateZ(2px) scale(0.25);
    transform: translate(-50%, -50%) rotate(-20deg) translateZ(2px) scale(0.25);
}

.javascript{   
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%) rotate(10deg) translateZ(3px) scale(0.25);
    transform: translate(-50%, -50%) rotate(10deg) translateZ(3px) scale(0.25);
}

.acessibilidade{   
    top: 20%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%) rotate(15deg) translateZ(1px) scale(0.25);
    transform: translate(-50%, -50%) rotate(15deg) translateZ(1px) scale(0.25);    
}

.responsivo{   
    top: 70%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
}

.otimizacoes{    
    top: 50%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) rotate(-10deg) translateZ(1px) scale(0.25);
    transform: translate(-50%, -50%) rotate(-10deg) translateZ(1px) scale(0.25);
}

.agilidade{    
    top: 55%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%) rotate(-10deg) translateZ(2px) scale(0.25);
    transform: translate(-50%, -50%) rotate(-10deg) translateZ(2px) scale(0.25);
}

.design{    
    top: 40%;
    left: 38%;
    -webkit-transform: translate(-50%, -50%) rotate(-30deg) translateZ(4px) scale(0.25);
    transform: translate(-50%, -50%) rotate(-30deg) translateZ(4px) scale(0.25);
}

header{
    position: relative;
    overflow-x: hidden;
}

.inicio-post{
    background-color: #F2FFFC;
    color: #000;
    position: absolute;
    top: 4em;
    right: 4em;
    height: 8em;
    padding: 1.5em;
    left: 30%;
}

.blog .mais-recente{
    background-color: #F2FFFC;
}

.blog .mais-recente a{
    color: #F26;
}

.blog li{
    width: 30%;
}

.banner{
    background-color: #3C1D3D;   
    width: 14em;
    line-height: 1;
    padding: 1em 0;
    box-sizing: border-box;
    border: .25em solid black;
    
    font-size: .5em;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: open sans condensed,  sans-serif;
    
    position: absolute;
    top: 0;
    right: 0;
    
    transform-origin: 0 0;
    transform: translate(6.5765em, -2.4745em) rotate(45deg);
    
}

.palavras-home{   
    perspective: 6px;      
    position: absolute;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
}
/* */